<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson</title>
</head>

<body>
    <video width="320" height="240" controls muted loop poster="//unsplash.it/320/240">
        <!-- 
            preload
         -->
        <source src="short.mp4" type="video/mp4">
        <source src="short.ogg" type="video/ogg">
        Your browser does not support the video tag.
        <track src="./sun.vtt" kind="subtitles" srclang="en" label="Enish">
    </video>
    
    <br>
    <img src="http://placehold.it/320x240">
    <textarea id="w3review" name="w3review" rows="4" cols="50" placeholder="About yourself" disabled></textarea>
    <!-- required ,readonly placeholder ,disable,maxlength-->
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="text" name="" id="" value="formun içindəkiləri reset edir">
        <input type="file" name="">
        <input type="reset">
    </form>

    <input type="range" name="" min="0" max="100" step="3">
    <input type="number" name="" id="old" min="17" max="50" readonly value="12">

    <input type="text" name="" id="uni" list="sec">
    <datalist id="sec">
        <option>BHOS</option>
        <option>ASOIU </option>
        <option>BSU</option>
    </datalist>

    <!-- drop-down lis -->
    <select name="cars" id="cars">
        <optgroup label="Swedish Cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
        </optgroup>
        <optgroup label="German Cars">
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </optgroup>
    </select>
    <meter min="0" max="100" value="90"></meter>
    <br><br>
    <progress value="40" max="100"></progress>
    <details>
        <summary>Movies</summary>
        <br>Titanic
        <br>Upgrade
        <br>Gifted
    </details>
    <img src="images.png" usemap="#fs">
	<map name="fs">
		<area tabindex="1" shape="circle" coords="42,42,55" href="http://wwww.facebook.com">
	</map>
	<kbd>I love you</kbd>
    <audio controls muted autoplay loop >
        <source src="./LVNX - Малиновый закат.mp3" type="audio/mpeg">
    </audio>
</body>
</html>

<!-- 
mark 
smal 

    color: inherit;
-->