<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="overlay">
        <a href="###"><img src="http://picsum.photos/300/300" alt=""></a>
    </div>

    <div class="skrew">
        <a href="##" class="front">Front</a>
        <div class="layer"></div>
    </div>

    <div class="rotate">
        <div class="front">Front</div>
        <div class="back">Back</div>
    </div>

    <a href="#" class="link">Click</a>

    <div class="switch-window">
        <img src="http://picsum.photos/300/300" alt="">
    </div>

    <div class="animation-pic">
    </div>

    <div class="animation-cube">
        Fit ol
    </div>
    <div class="mode-container">
        <div class="mode">
            <div class="mode-sun"></div>
            <div class="mode-moon"></div>
            <div class="mode-ball"></div>
        </div>
    </div>


    <script src="./main.js"></script>


</body>

</html>