@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap");
* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    font-family: "Mulish", sans-serif;
    /* outline: none; */
}
body {
    background-color: #282c34;
    color: #f1ffdf;
    width: 100%;
    transition: 500ms all ease;

}

/* ----------------------------------------Overlay----------------------------------------------------------- */

.overlay {
    margin: 5rem auto;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 15px;

}
.overlay img,
.overlay a {
    width: inherit;
    height: inherit;
    display: block;
    transition: 500ms all ease-in;
}

.overlay:hover img {
    transform: scale(1.2);
}
/* --------------------------------------------------------------------------------------------------- */

/* ----------------------------------------Skrew----------------------------------------------------------- */

.skrew{
    width: 10rem;
    height: 1.8rem;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    outline: 2px solid #ccc;

}
.skrew .front,
.skrew .layer {
    width: inherit;
    height: inherit;
    position: absolute;
    transition: 500ms all ease;
}
.skrew .front {
    display: block;
    text-align: center;
    line-height: 1.8rem;
    z-index: 11;
    color: lightcoral;
    font-weight: bold;

}
.skrew .layer {
    background-color: lightblue;
    visibility: hidden;
    width: 0;
    left: -20px;
    z-index: -1;
    transform: skew(-20deg);
}
.skrew:hover > .layer {
    visibility: visible;
    width: 80%;
}

/* ------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------Rotate----------------------------------------------------------- */

.rotate{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 50px auto;
}
.rotate .front,.rotate .back{
    width: inherit;
    height: inherit;
    position: absolute;
    backface-visibility: hidden;
    transition: 1000ms all ease;
    /* perspective: 900px; */

}
.rotate .front{
    background-color: lightcoral;
}
.rotate .back{
    background-color: lightblue;
    transform: rotateY(180deg);


}
.rotate:hover >.front{
    transform: rotateY(180deg);
}
.rotate:hover >.back{
    transform: rotateY(0);
}

/* ------------------------------------------Rotate----------------------------------------------------------- */


.link{
    display: block;
    width:7rem ;
    height: 2rem;
    outline: 2px solid #bbb;
    margin: 5rem auto;
    text-align: center;
    line-height: 2rem;
    position: relative;
    color: #f1ffdf;
    z-index: 1;
    overflow: hidden;
    transition: 500ms all ease;
    
}
.link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    z-index: -1;
    top: 0;
    left: -110%;
    transition: 500ms all ease;
    transform: skew(20deg);
}
.link:hover::before{
    left: -50%;
}
.link:hover{
    transform: rotate(360deg);
    color: yellow;
}

/* -------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------Rotate------------------------------------------------------ */


.switch-window{
    width: 13rem;
    height: 13rem;
    margin: 50px auto;
    border: 1px solid lightcoral;
    position: relative;
    overflow: hidden;

}
.switch-window img{
    display: block;
    width: inherit;
    height: inherit;
}
.switch-window::before{
    content: "Hover me";
    text-align: center;
    line-height: 13rem;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: lightsalmon;
    transition: 650ms all ease;
    transform-origin: top left;
    perspective: 80rem;
    
}
.switch-window:hover::before{
    transform: rotate(-90deg)
}

/* -------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------Animation Picture----------------------------------------------- */


.animation-pic {
    width: 13rem;
    height: 13rem;
    margin: 50px auto;
    outline: 1px solid lightcoral;
    /* background: url("http://picsum.photos/300/300") center center no-repeat; */
    animation-name: moon;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    position: relative;
}

@keyframes moon {
    0% {
        background: url("https://picsum.photos/200/300?random=3") center center no-repeat;
        background-size: cover;
    }
    50% {
        outline: 1px solid lightgreen;
        background: url("https://picsum.photos/300/300?random=1") center center no-repeat;
        background-size: cover;
    }
    100% {
        outline: 1px solid lightcoral;
        background: url("https://picsum.photos/300/300?random=2") center center no-repeat;
        background-size: cover;
    }
}

/* -------------------------------------------------------------------------------------------------------- */

/* ------------------------------------Animation Cube----------------------------------------------- */


.animation-cube {
    width: 5rem;
    height: 5rem;
    margin: 20px 40px;
    animation-name: cube;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: absolute;
    text-align: center;
    line-height: 5rem;
}

@keyframes cube {
    0% {
        top: 0;
        left: 0;
        background-color: lightblue;
    }
    25% {
        top: 0;
        left: 200px;
        background-color: lightcoral;
    }
    50% {
        top: 200px;
        left: 200px;
        background-color: lightgreen;
    }

    75% {
        top: 200px;
        left: 0;
        background-color: lightseagreen;
    }
    100% {
        top: 0px;
        left: 0;
        background-color: lightsalmon;
    }
}
/* -------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------Darke Mode----------------------------------------------- */
.mode-container{
    position: fixed;
    top: 20px;
    right: 40px;

}
.mode {
    width: 5.6rem;
    height: 2.2rem;
    background-color: lightblue;
    /* margin: 50px auto; */
    border-radius: 45px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    transform: scale(1.02);
    transition: 500ms background ease;
}
.mode-sun{
    background-image: url("./img/sun.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.mode-moon{
    background-image: url("./img/moon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.mode-ball {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    left: 11%;
    transition: all 0.9s ease;
    cursor: pointer;
}
