<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script>

        function printUsers(arr) {
            var container = document.getElementById("container");
            container.innerHTML = '';
            for (var i = 0; i<arr.length; i++) {
                var obj = arr[i];

                var deleteBtn = '<button id="four">DELETE</button>';
            
                var str = obj.id + " " + obj.firstName + " " + obj.lastName + deleteBtn + "<br/>";
                container.innerHTML += str;
                document.getElementById("four").addEventListener("click", () => {
                    deleteUser(obj.id);
                });
            }
        }

        function deleteUser(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    getUsers();
                }
            };
            
            xhttp.open("DELETE", "http://localhost:8089/api/v1/users/" + id, true);
            xhttp.send();
        }

        function getUsers() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    var list = response.object;
                    printUsers(list);
                }
            };
            xhttp.open("GET", "http://localhost:8089/api/v1/users/", true);
            xhttp.send();
        }


        function addUser() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    getUsers();
                }
            };

            var nm = document.getElementById("name").value;
            var srnm = document.getElementById("surname").value;
            var pass = document.getElementById("password").value;

            var user = {name: nm, surname: srnm, password: pass};

            xhttp.open("POST", "http://localhost:8089/api/v1/users", true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.send(JSON.stringify(user));
        }

    </script>
    <title>Document</title>
</head>
<body onload="getUsers()">
    <div>
        <input type="text" id="name"/>
        <input type="text" id="surname"/>
        <input type="password" id="password"/>
        <button onclick="addUser()">ADD</button>
    </div>
    
    <div id="container"></div>
    
    <div>
        <button id="one">Get one</button>
        <button id="all">Get all</button>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody id="sun">
            </tbody>
        </table>
    </div>
    <script src="main.js"></script>
</body>
</html>