</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Template 1</title>
</head>

<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Laborum ex perferendis a, adipisci sed eligendi numquam veli
        t, qui quia ullam itaque eius eveniet iste vitae earum doloribus! Praesentium, alias facere?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum eos eaque a quasi minus ipsam rerum amet ad
        beatae fugit qui laborum iste, inventore, fugiat deleniti neque maiores magnam ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa enim odio similique animi iure ducimus laboriosam
        quos maxime. Sit ratione esse voluptatibus asperiores sequi minima nostrum nihil dolor, architecto incidunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero maiores reprehenderit sapiente temporibus,
        ea fugiat deserunt hic magni ducimus inventore suscipit blanditiis eos rem modi vel reiciendis enim corrupti.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, soluta dolor? Tempore, quidem eum modi aliquid
        odio neque perferendis nemo, sit similique quae autem architecto perspiciatis explicabo consequatur possimus
        impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem minima ut provident sunt consectetur quas,
        nihil voluptates atque doloribus recusandae, harum neque porro fuga itaque facere cupiditate modi quis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ipsam minima doloremque ullam ad labore
        animi rerum, eos ea nostrum odio neque asperiores quas illum dolorem. Natus quidem commodi cupiditate?</p>
    <div class="box1"></div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Laborum ex perferendis a, adipisci sed eligendi numquam veli
        t, qui quia ullam itaque eius eveniet iste vitae earum doloribus! Praesentium, alias facere?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum eos eaque a quasi minus ipsam rerum amet ad
        beatae fugit qui laborum iste, inventore, fugiat deleniti neque maiores magnam ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa enim odio similique animi iure ducimus laboriosam
        quos maxime. Sit ratione esse voluptatibus asperiores sequi minima nostrum nihil dolor, architecto incidunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero maiores reprehenderit sapiente temporibus,
        ea fugiat deserunt hic magni ducimus inventore suscipit blanditiis eos rem modi vel reiciendis enim corrupti.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, soluta dolor? Tempore, quidem eum modi aliquid
        odio neque perferendis nemo, sit similique quae autem architecto perspiciatis explicabo consequatur possimus
        impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem minima ut provident sunt consectetur quas,
        nihil voluptates atque doloribus recusandae, harum neque porro fuga itaque facere cupiditate modi quis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ipsam minima doloremque ullam ad labore
        animi rerum, eos ea nostrum odio neque asperiores quas illum dolorem. Natus quidem commodi cupiditate?</p>
    <div class="box2"></div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Laborum ex perferendis a, adipisci sed eligendi numquam veli
        t, qui quia ullam itaque eius eveniet iste vitae earum doloribus! Praesentium, alias facere?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum eos eaque a quasi minus ipsam rerum amet ad
        beatae fugit qui laborum iste, inventore, fugiat deleniti neque maiores magnam ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa enim odio similique animi iure ducimus laboriosam
        quos maxime. Sit ratione esse voluptatibus asperiores sequi minima nostrum nihil dolor, architecto incidunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero maiores reprehenderit sapiente temporibus,
        ea fugiat deserunt hic magni ducimus inventore suscipit blanditiis eos rem modi vel reiciendis enim corrupti.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, soluta dolor? Tempore, quidem eum modi aliquid
        odio neque perferendis nemo, sit similique quae autem architecto perspiciatis explicabo consequatur possimus
        impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem minima ut provident sunt consectetur quas,
        nihil voluptates atque doloribus recusandae, harum neque porro fuga itaque facere cupiditate modi quis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ipsam minima doloremque ullam ad labore
        animi rerum, eos ea nostrum odio neque asperiores quas illum dolorem. Natus quidem commodi cupiditate?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Laborum ex perferendis a, adipisci sed eligendi numquam veli
        t, qui quia ullam itaque eius eveniet iste vitae earum doloribus! Praesentium, alias facere?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum eos eaque a quasi minus ipsam rerum amet ad
        beatae fugit qui laborum iste, inventore, fugiat deleniti neque maiores magnam ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa enim odio similique animi iure ducimus laboriosam
        quos maxime. Sit ratione esse voluptatibus asperiores sequi minima nostrum nihil dolor, architecto incidunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero maiores reprehenderit sapiente temporibus,
        ea fugiat deserunt hic magni ducimus inventore suscipit blanditiis eos rem modi vel reiciendis enim corrupti.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, soluta dolor? Tempore, quidem eum modi aliquid
        odio neque perferendis nemo, sit similique quae autem architecto perspiciatis explicabo consequatur possimus
        impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem minima ut provident sunt consectetur quas,
        nihil voluptates atque doloribus recusandae, harum neque porro fuga itaque facere cupiditate modi quis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ipsam minima doloremque ullam ad labore
        animi rerum, eos ea nostrum odio neque asperiores quas illum dolorem. Natus quidem commodi cupiditate?</p>
    <div class="box3"></div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Laborum ex perferendis a, adipisci sed eligendi numquam veli
        t, qui quia ullam itaque eius eveniet iste vitae earum doloribus! Praesentium, alias facere?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum eos eaque a quasi minus ipsam rerum amet ad
        beatae fugit qui laborum iste, inventore, fugiat deleniti neque maiores magnam ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa enim odio similique animi iure ducimus laboriosam
        quos maxime. Sit ratione esse voluptatibus asperiores sequi minima nostrum nihil dolor, architecto incidunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero maiores reprehenderit sapiente temporibus,
        ea fugiat deserunt hic magni ducimus inventore suscipit blanditiis eos rem modi vel reiciendis enim corrupti.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, soluta dolor? Tempore, quidem eum modi aliquid
        odio neque perferendis nemo, sit similique quae autem architecto perspiciatis explicabo consequatur possimus
        impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rem minima ut provident sunt consectetur quas,
        nihil voluptates atque doloribus recusandae, harum neque porro fuga itaque facere cupiditate modi quis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ipsam minima doloremque ullam ad labore
        animi rerum, eos ea nostrum odio neque asperiores quas illum dolorem. Natus quidem commodi cupiditate?</p>

</body>

</html>